
    <div class="card">
        <h5>Add New User</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label htmlFor="name">Name</label>
                <input pInputText id="name" [(ngModel)]="newUser.name" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="email">Email</label>
                <input pInputText id="email" [(ngModel)]="newUser.email" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="username">Username</label>
                <input pInputText id="username" [(ngModel)]="newUser.username" type="text" />
            </div>
          
            <div class="field col-12 md:col-6">
                <label htmlFor="phonenumber">Phone Number</label>
                <input pInputText id="phonenumber" [(ngModel)]="newUser.phonenumber" type="text" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="password">Password</label>
                <p-password id="password" [(ngModel)]="newUser.password" type="text" ></p-password>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="address">Address</label>
                <input pInputTextarea id="address" [(ngModel)]="newUser.address" rows="4" />
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="state">Role</label>
                <p-dropdown [options]="role" [(ngModel)]="newUser.role" placeholder="Select a role"></p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="city">City</label>
                <input pInputText id="city" [(ngModel)]="newUser.city" type="text" />
            </div>
            
        </div>

        <p-button label="Submit" (onClick)="save()"></p-button>
    </div>
